body {
background-color: #eee;
    color: white;
    margin: 0;
    margin: 40px;
    font-family: 'Noto Sans', sans-serif;
}

.title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: baseline;


}

input {
    height: 20px;
    border-radius: 4px;
}

input,
textarea {
    margin: 6px;
    width: 29%;
    border-radius: 4px;
    display: block;
    background-color: rgb(51 51 51 / 0%);
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;

    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

h2 {
    
    padding: 8px;
    border-radius: 15px;
    color: #00000091;
    
}

label {
    margin-left: 9px;
}

section { 
   border-radius: 20px;
    background:#3CAFCA;
    margin-top: 48px;
    padding: 30px;

}

.image-search {
    border-radius: 10px;
}

strong {
    font-size: 17px;
}

li {
    list-style-type: none;
    padding: 11px;
}
.feedback-link{
    text-decoration: none;
    color: white;
    background: #4BBCD3;
    padding: 3px;
    border-radius: 25px;
}
.feedback-link:hover{
    padding: 5px;
}
.dissco-site{
    line-height: 30px; 
}

/* .about {
    width: 43vw;
}
.browse{
    width: 294vh;
} */